<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tiendas el baratón</a> by <img _ngcontent-c1="" style="width: 30px;" alt="Logo Rappi" id="logo-header" title="Logo Rappi" src="https://images.rappi.com/web/logo-rappi-new.svg">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        

      </ul>
       
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/shopping-cart/">
            <i class="fas fa-shopping-cart"></i> Mis compras
            <span class="badge"> {{session.cart.totalQty}}</span>
          </a>
        </li>
          <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Mi cuenta <span class="caret"></span></a>


          <ul class="dropdown-menu">
           

            {{# if login }}
             <li><a href="/user/profile">Usuario</a></li>
              <li role="separator" class="divider"></li>

            <li><a href="#">Separated link</a></li>

            <li><a href="/user/logout">Salir de la cuenta</a></li>

            {{ else }}

              <li><a href="/user/signin">Inicia sesión</a></li>
   
            <li><a href="/user/signup">Registrate</a></li>

            {{/if}}

            <li><a href="#">Usuario</a></li>

            <li><a href="#">Another action</a></li>

            <li><a href="#">Something else here</a></li>

            <li role="separator" class="divider"></li>

            <li><a href="#">Separated link</a></li>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>