<!DOCTYPE html> 

<html>
  <head>
  <title> {{title}} </title>
 <link rel='stylesheet' href='/stylesheets/style.css'/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
 </head>
    

  <body>

  {{> header }}


<div class="container">

  {{{body}}}

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    block content
</body>
</html>