body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9 !important;
}

.btn-success {
    color: #fff;
    background-color: #00c6a2 !important;
    border-color: #00c6a2 !important;
}

a {
  color: #00B7FF;
}

.thumbnail img {
	max-height: 150px;
}

.thumbnail .description {
	color: #7f7f7f;
}


.price {
	padding-right: 8px;
	 
	font-size: 16px;
}