{{# each products }}
  

<div class="row">

{{# each this }}

 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{ this.imagePath }}" alt="..." class="img-responsive">
      <div class="caption">
        <h3>{{ this.title }}</h3>
        <p> {{ this.description }} </p>
      <div class="clearfix">
        
        <a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> ${{ this.price }} </div>  Agregar </a>
     
      </div>
 
      </div>
    </div>


{{/each}}
 
  </div>


{{/each}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/camaron.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Camarones</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="clearfix">
				
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>


 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/carne.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Carne de res</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/chorizo.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Chorizo</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



</div>




<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/huevo-crudo.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Huevo Criollo</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>


 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/huevo.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Huevo frito</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/leche.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Leche</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
			<div class="clearfix">
			 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



</div>






<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/pezcado.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>pescado fresco</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>


 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/pollo.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Pollo</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
			<div class="clearfix">
			 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



   <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/queso.jpg" alt="..." class="img-responsive">
      <div class="caption">
        <h3>Queso</h3>
        <p>What is Lorem Ipsum?

Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
			<div class="clearfix">
				 
				<a href="/add-to-cart/{{this.id}}" class="btn btn-success pull-right" role="button"><div class="price pull-left"> $12 </div>  Agregar </a>
		 
			</div>
 
      </div>
    </div>
  </div>



</div>