{{# if products}}

<div class="row"> 

 <div class="col-sm-6 col-md-4" col-md-offset-3  col-sm-offset-3">
 	<ul class="list-group"> 

 	{{# each products}}

 	<li class="list-group-item">
 			<span class="badge" >{{ this.qty }}</span>
 			<strong>{{ this.item.title }}</strong>
 			<span class="label label-success">{{ this.price }}</span>
 			<div class="">
 				<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggñe="dropdown">Action <span class="caret"> </span></button>
 				<ul class="dropdown-menu">
 					<li><a href="#"> Reduce by 1 </a></li>
 					<li><a href="#"> Remove all </a></li>
 				</ul>
 			</div>
 		</li>

 	{{/each}}


 		
 	</ul>
 </div>

 </div>

 <div class="row"> 

 <div class="col-sm-6 col-md-4" col-md-offset-3  col-sm-offset-3">
 	 <strong>Total: {{ total.price }}</strong>
 </div>

 </div

<hr>
  <div class="row"> 

 <div class="col-sm-6 col-md-4" col-md-offset-3  col-sm-offset-3">
 	 <button type="button" class="btn btn-success">Finalizar la compra</button>
 </div>

 </div>


	{{ else }}


<div class="row"> 

 <div class="col-sm-6 col-md-4" col-md-offset-3  col-sm-offset-3">
 	<h2>No Items in Cart</h2>
 </div>

 </div>

{{/if}}



  
